@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-gradient-pastel {
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

.bg-gradient-green {
  background: linear-gradient(90deg, #9ebd13 0%, #008552 100%);
}

.bg-gradient-blue {
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

.box-shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
